[2017-06-05 15:50] shawaj opened #2 "HID mouse / keyboard interface emulator driver for Linux/Raspbian"
As above, a driver for Raspbian/Linux that lets you connect Flick over I2C and control the mouse and some additional KB events.

[2017-06-05 16:00] shawaj opened #3 "HID mouse / keyboard interface emulator driver for Windows/Mac"
As above, a driver for Windows/Mac OS using an [I2C to USB bridge](http://uk.farnell.com/microchip/adm00559/evaluation-board-usb-to-uart-i2c/dp/2450806) that lets you connect Flick over I2C and control the mouse and some additional KB events.

[2017-06-05 16:48] tvoverbeek commented on #2
For some ideas look at the Pimoroni skywriter examples: keyboard.py and umouse.py

[2017-06-05 16:53] tvoverbeek commented on #3
Instead of an I2C to USB bridge probably easier to take something like an ATmega32u4 to emulate a USB keyboard/mouse.
Would also be an option for Linux

[2017-06-05 17:37] shawaj commented on #2
Nice, hadn't seen those. Was just tracking suggestions made by customers today :-)

[2017-06-05 22:23] shawaj commented on #3
Yeah that sounds like a great idea too. Only reason I suggested USB to i2c is because I believe a driver already exists for that that could be tweaked

[2017-06-06 18:35] shawaj opened #4 "Guides / tutorials / demos for using with JustBoom, Volumio, OSMC and more"
Guides / tutorials / demos for using the Flick with JustBoom, Volumio, OSMC and more would be great at some point.

Know we've already discussed these @francesco-vannini but just wanted to get it down on paper so we don't forget :-)

[2017-06-06 18:37] shawaj opened #5 "Code for BeagleBone / UP / Tinker / C.H.I.P"
Code for using Flick with other Linux SBC platforms such as BeagleBone / UP / Tinker / C.H.I.P would be nice in the future

[2017-06-06 18:39] shawaj opened #6 "Code for Arduino and Arduino compatible platforms"
In the future it would be great to add support for Arduino and Arduino compatible boards. I believe the Hover gesture sense board and pimoroni Skywriter has this support so could be good for reference

[2017-06-06 18:41] shawaj opened #7 "Theremin demo, perhaps integrating with Sonic Pi to alter a synth?"
Theremin demo, perhaps integrating with Sonic Pi to alter a synth?

[2017-06-11 23:08] shawaj opened #9 "add eeprom code / settings"
add eeprom code / settings

[2017-06-14 18:07] shawaj opened #10 "eeprom repgrogramming guide"
eeprom repgrogramming guide

[2017-06-15 11:06] shawaj opened #11 "turn into pip library"
turn into pip library

[2017-06-15 12:33] shawaj commented on #9
added settings file - https://github.com/PiSupply/Flick/commit/778c6d99f8981d9c503286bed275201e68fe784e

now just need to add example hex file

[2017-06-15 17:11] francesco-vannini opened #12 "flick-demo firmare version formatting"
The line for the firmware version is a bit messy and fairly long. It could with a bit of tiding up.

[2017-06-15 19:54] ukscone commented on #12
still ugly but a bit better. i've done a PR
https://github.com/PiSupply/Flick/pull/13

[2017-06-18 14:19] tomvdb opened #14 "Communication seems good, but no Gesture Data"
I've installed the flick hat zero and did the one line install. It seems to be talking to the chip (ie. it shows the versions, etc), but I'm not getting any gesture data when running flick-demo. Am I missing something ?

![image](https://user-images.githubusercontent.com/1420347/27261356-a7da6d32-5441-11e7-93bd-0ca65c3ac72f.png)

[2017-06-19 08:03] francesco-vannini commented on #14
Hi @tomvdb , indeed that's rather strange. can I get an output of
i2cdetect -y 1
Also do you have another Pi you can test with? I presume you are using a Zero :) do you have a Bx you can test with? Could you also try a fresh, updated Raspbian?

[2017-06-19 14:02] shawaj commented on #12
Merged it - do you want to clear it up further @francesco-vannini or are you happy with that now?

[2017-06-19 14:55] francesco-vannini commented on #12
Happy with it, thanks both.

[2017-06-19 14:55] #12 closed

[2017-06-19 18:54] tomvdb commented on #14
ok, so I tried with a fresh install, updated the packages and installed the flick software. Still no go, same result.

i2cdetect -y 1 gives the following:

![image](https://user-images.githubusercontent.com/1420347/27300872-7c9c62f6-5531-11e7-9fc3-80922c50e85f.png)

I also tried this in a pi3, same result :(

[2017-06-19 20:33] shawaj commented on #14
Did you try on the pi 3 with a fresh SD card and fresh version of NOOBS, not the same one as used for pi zero?

Also does it still not work if you use it on the machine itself rather than with putty?

[2017-06-20 04:43] tomvdb commented on #14
(1) first I flashed the sd in the zero again with a new fresh version of raspbian, did the updates and installed the software. same result
(2) then I took a different sd, flashed a new raspbian on there, did the updates and tried it on the pi3, same result.

I didn't ssh into the pi3, that was straight on the monitor/keyboard setup.

I also tried both the lite and the full raspbian :(

[2017-06-20 06:23] francesco-vannini commented on #14
I think at this point we might need to look into replacing the board. Did
you buy it from us? If so can you open a support request on
https://www.pi-supply.com/contact-us/

On 20 Jun 2017 05:43, "Tom Van den Bon" <notifications@github.com> wrote:

[2017-06-20 07:03] tomvdb commented on #14
No, I bought it locally in South Africa at the pishop.co.za

I will open a support ticket with them. Thanks for the help.

[2017-06-20 08:04] shawaj commented on #14
Guessing the screenshot were taken through SSH as they look like putty?

But in any case good you've tried it direct from Pi 3 terminal.

@francesco-vannini do you think it's worth attempting to re flash the firmware just as a last ditch attempt to fix the board?

It seems like it must be programmed as firmware data is showing and it would be tested out of the factory but it seems strange it can f

[2017-06-20 08:06] shawaj commented on #14
Also @tomvdb do you get any signs of life at all if you hold your hand completely over the device, as close as you can?

Anything in the X, Y, Z field at all?

[2017-06-20 08:15] tomvdb commented on #14
Thats correct, screenshots were made while using putty ssh'd into the pi zero. I get the same on the terminal though on the pi3, I can take some photos if needed.

no, no signs at all. no matter where I put my hand all the way up to touching it.

I'm willing to try and reflash the firmware? how would I go about doing that?

[2017-06-20 10:43] francesco-vannini commented on #14
@tomvdb refer to the firmware page https://github.com/PiSupply/Flick/tree/master/hardware/Firmware/update and get the HAT enz file

From within /home/pi/Flick/hardware/Firmware/update
cp ../Flick_Zero_V1.1.enz .
./flickupdate

[2017-06-20 18:00] tomvdb commented on #14
hey, the firmware update seemed to have done the trick. Its working now on my pi3 :)

![image](https://user-images.githubusercontent.com/1420347/27348038-04e96818-55f3-11e7-9cba-4d35a4acf9cb.png)

[2017-06-20 18:06] shawaj commented on #14
Awesome!

[2017-06-20 18:06] shawaj commented on #14
Glad that worked for you

[2017-06-20 18:06] #14 closed

[2017-06-27 11:34] gazhay commented on #14
I've got exactly the same problem. I've got as far as trying to flash the firmware and get

[code]
Its been stuck at that for 20 mins

[2017-06-27 11:37] gazhay commented on #14
Ok, have tried it as sudo, and it seemed to make it flash, after a reboot, still nothing.

[code]

[2017-06-27 11:43] gazhay opened #16 "Reopen Issue #14"
Just in case it gets missed, I'm still having the same issue as #14

Tried flashing firmware to no end.

[2017-06-27 14:02] francesco-vannini commented on #16
what does
sudo i2cdetect -y 1
report?

[2017-06-27 16:51] gazhay commented on #16
The same as the post by tomvdb on issue #14 .

    42

[2017-06-27 16:52] gazhay commented on #16
Should say I was on a fresh NOOBS Raspbian install on an rpi3

[2017-06-27 16:56] shawaj commented on #16
@gazhay can you tell us what Flick board you are using and what Pi?

Have you tried starting from scratch again? The firmware issue is very unlikely. You should not reflash the firmware unless it is recommended by one of us directly to you as you can break the board by doing so. It should only be done after all other tests have been performed.

[2017-06-27 16:56] shawaj commented on #14
To anyone seeing this thread after it has been closed.......

The firmware issue is very unlikely. You should not reflash the firmware unless it is recommended by one of us directly to you as you can break the board by doing so. It should only be done after all other tests have been performed and ONLY if one of us requests it.

[2017-06-27 20:06] gazhay commented on #16
Flick large and an rpi3.
I have an pi 2, zero and zero w if it would make a difference?

I started from scratch, but can try again with a fresh sd. Won't be able to for a few days but will report back when I do.

[2017-06-28 10:23] francesco-vannini commented on #16
I am sure you did but have you connected the board as shown here?
https://www.pi-supply.com/make/flick-quick-start-faq/#flick-large-board

[2017-06-28 14:58] gazhay commented on #16
Yes, I have wired up as in that diagram.
FYI, I can control the LEDs via gpio.

[2017-06-29 08:29] gazhay commented on #16
Still nothing on a brand new card with a new noobs and fully apt updated.

[2017-06-29 08:45] francesco-vannini commented on #16
OK @gazhay at this point I think you might want to get a replacement. Did you buy directly from us? If so can you get in touch via https://www.pi-supply.com/contact-us/

[2017-06-29 09:24] gazhay commented on #16
Sadly, I bought it from pi-hut. I'll contact them directly.

[2017-06-29 10:11] francesco-vannini commented on #16
Please do let us know how this goes.

[2017-07-03 08:56] pietrondo commented on #4
Same.. is possible to have new documentation to write some simple python program?

[2017-07-16 13:11] ric96 opened #19 "float values"
for some reason the values from flicklib.move are in string, anyway i can get them in float?

[2017-07-16 14:10] francesco-vannini commented on #19
Xyztxt Is a string but x, y, z aren't. Have a look at flick-sense

[2017-07-17 15:19] francesco-vannini commented on #16
Hi @gazhay did you get a replacement? Are things working ok now?

[2017-08-01 18:57] DamagedPanda opened #20 "Flick Demo wont start"
using the latest Raspbian with a Pi3 all up to date.
the flick script was installed but when i run flick-demo i get this error.

pi@raspberrypi:~ $ flick-demo
Traceback (most recent call last):
  File "/usr/local/bin/flick-demo", line 4, in <module>
    __import__('pkg_resources').run_script('flicklib==0.0.1', 'flick-demo')
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 534, in r

[2017-08-01 19:13] shawaj commented on #20
How did you install the Flick package?

And you've definitely got it wired up as in the quick start guide?

On 1 Aug 2017 7:57 pm, "DamagedPanda" <notifications@github.com> wrote:

[2017-08-01 19:24] DamagedPanda commented on #20
used this guide for the connection.  https://www.pi-supply.com/make/flick-quick-start-faq/
Install went like this fresh install of Raspbian Twice-
From Terminal
sudo apt-get update && sudo
sudo reboot
curl -sSL https://pisupp.ly/flickcode

also tried

curl -sSL https://pisupp.ly/flickcode | sudo bash

I can control the LED with the code provided here on GitHub.

[2017-08-01 19:28] shawaj commented on #20
@francesco-vannini was this the same problem we were having before with
someone where the firmware flash fixed it?

On 1 Aug 2017 8:24 pm, "DamagedPanda" <notifications@github.com> wrote:

[2017-08-02 09:52] francesco-vannini commented on #16
Closing this as no answer provided for 16 days. By all means @gazhay do get in touch if you need to reopen it.

[2017-08-02 09:52] #16 closed

[2017-08-02 10:04] francesco-vannini commented on #20
@DamagedPanda could you run `sudo i2cdetect -y 1` and provide the output
also provide the output of `cat /boot/config.txt`

The fact that you can control the LEDs seems to suggest your wiring is OK (I also saw the picture you sent John)

@shawaj in the case of the firmware issue the demo should still start but not communicate with the board AFAIK see #14

Also @DamagedPanda running `curl -sSL http

[2017-08-02 16:12] DamagedPanda commented on #20
Fresh install of raspbian
ran
curl -sSL https://pisupp.ly/flickcode | sudo bash

[http://imgur.com/a/wl9Pz](url)

[2017-08-02 16:18] DamagedPanda commented on #20
fresh install of raspbian
ran
curl -sSL https://pisupp.ly/flickcode | sudo bash
System rebooted . still have the same issue

pi@raspberrypi:~ $ sudo i2cdetect -y 1
     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00:          -- -- -- -- -- -- -- -- -- -- -- -- --
10: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
20: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
30: -- -- -- -- -- -- -- --

[2017-08-02 16:23] gazhay commented on #16
Never got a replacement and vendor now out of stock. If I ever manage to get another one will post a new issue.

[2017-08-02 17:06] shawaj commented on #16
Have you tried flashing the firmware onto the chip again? That may fix it

[2017-08-02 17:07] shawaj commented on #20
Have you definitely got I2C turned on? And you've definitely got it wired
correctly?

Weird that it's not showing up on the I2C bus. Never seen that before.

On 2 Aug 2017 5:18 pm, "DamagedPanda" <notifications@github.com> wrote:

[2017-08-03 09:45] francesco-vannini commented on #20
@DamagedPanda could you try using a different cable to connect the Flick to the Pi? You could use a 6 wire one as there is no need to connect the LEDs. At this point I'd like to make sure that at least we can see the 0x42 address is shown when running the i2cdetect.

[2017-08-03 14:55] gazhay commented on #16
I did before I sent it back, no change. And then I was rebuked for flashing firmware at all.

[2017-08-03 19:43] shawaj commented on #16
Pi hut will likely reorder from us pretty soon :-)

Have they got the faulty one back?

On 3 Aug 2017 3:55 pm, "GazHay" <notifications@github.com> wrote:

[2017-08-03 19:52] gazhay commented on #16
They do.

[2017-08-03 20:02] shawaj commented on #16
Ok we'll get in touch with them right now

On 3 Aug 2017 8:52 pm, "GazHay" <notifications@github.com> wrote:

[2017-08-29 10:25] francesco-vannini commented on #20
Hi @DamagedPanda has the issue been solved?

[2017-09-01 15:20] francesco-vannini commented on #20
Closing this as no progress on the resolution from requester.

[2017-09-01 15:20] #20 closed

[2017-09-01 16:05] theold190 commented on #20
I had similar outputs in the log with my Flick (due to faulty HW connections). It was confusing to see all those errors.

Would it be possible to print instead "Flick board was not detected, make sure it is connected properly"? That request is valid for all demos in this repository.

[2017-09-01 16:09] shawaj commented on #20
@theold90 yes this could be a good idea.

@tvoverbeek @francesco-vannini what do you think to this? Maybe a good way
to deal with these errors in a more "useful" way?

On 1 Sep 2017 5:05 pm, "theold190" <notifications@github.com> wrote:

[2017-09-18 13:15] francesco-vannini opened #22 "Upload Logo"
![flick](https://user-images.githubusercontent.com/16068311/30543656-d483676c-9c7b-11e7-8d7e-b05572902177.png)

[2017-09-18 13:37] francesco-vannini commented on #22
![flick](https://user-images.githubusercontent.com/16068311/30544599-f0c3570e-9c7e-11e7-9f3f-74282a271749.png)

[2017-09-18 13:38] #22 closed

[2017-09-18 13:44] francesco-vannini commented on #22
Use this thread to add pictures

[2017-10-14 14:33] shawaj opened #24 "Add Screenly OSE example setup guide"
Add Screenly OSE example setup guide

[2017-10-14 14:35] shawaj opened #25 "Robot arm control demo buggy and needs end stops"
Robot arm control demo buggy and needs end stops

Loses connection frequently and has to be restarted. Is a bit temperamental at sensing gestures.

Also would be good to have end stops so it can't damage the plastic by over extending

[2017-10-14 14:37] shawaj opened #26 "Add gesture removal firmware guide"
When less gestures are enabled in firmware the gestures that are enabled are more accurate.

We should document this and add some other firmwares as examples with less gestures enabled

[2017-11-11 21:33] MichaelBitard opened #27 "Did not receive firmware info"
Hi,

Not sure if this is the right place to post this kind of issue.

I have set up a rpi with a flick large.

The RPI:
[code]
The sudo i2cdetect -y 1
[code]

I'm able to change the LED according to your readme with
[code]

But whenever I launch the flick-demo, I get:

[code]

I'm using a freshly installed 2017-09-07-raspbian-stretch-lite

I tried with python2 and 3, still the same error.

Any ide

[2017-11-12 01:15] shawaj commented on #27
Just to clarify this is on an original 26 pin RasPi?

[2017-11-12 09:24] MichaelBitard commented on #27
Yes, It's a model B rev2 with 26 pin

I will try it on a RPI 3 later, if you think this may be the issue.

On Sun, Nov 12, 2017, 02:15 Aaron Shaw <notifications@github.com> wrote:

[2017-11-12 12:50] tvoverbeek commented on #27
SInce i2cdetect shows the i2c communication works, my guess is you have exchanged the TS (transfer status) and RESET connections (pins 11 and 13, GPIO 17 and 27).
Just checked with my Flick Large and if TS is not connected correctly I get the same error.
See also the pictures of the Flick Large connections on https://www.pi-supply.com/make/flick-quick-start-faq/

[2017-11-12 13:52] MichaelBitard commented on #27
I checked that, tried to switch the 11 and 13 but still nothing

[2017-11-12 14:20] MichaelBitard commented on #27
Mmmh, I'm not able to have `i2cdetect` to detect the flick on the i2c bus anymore :(

[2017-11-17 19:47] MichaelBitard commented on #27
Still no idea on this one? I tried on 2 different rpi B rev2, should I try on rpi 3?

[2017-11-17 23:27] shawaj commented on #27
The original Pi uses a different i2c bus I believe?

Have you edited the code to account for that?

Can you try on a Pi 3 please yes? Then we can rule out an error with the
Flick board.

On 17 Nov 2017 19:47, "Michaël Bitard" <notifications@github.com> wrote:

[2017-11-18 04:02] tvoverbeek commented on #27
Only the B Rev1 has i2c0.
All others have i2c1.
@MichaelBitard uses a B Rev2, so code changes should not be needed.

[2017-11-18 04:02] #27 closed

[2017-11-27 12:46] MichaelBitard commented on #27
I just tested with a pi3, and I have the same issue "Did not receive firmware info"

Any idea on what to do next?

[2017-11-28 08:39] shawaj commented on #27
Try i2cdetect -y 1

Paste screenshot of output here

Thanks

On 27 Nov 2017 12:46 pm, "Michaël Bitard" <notifications@github.com> wrote:

[2017-11-28 10:25] MichaelBitard commented on #27
That's what I did in the description of this issue:

The sudo i2cdetect -y 1
[code]

[2017-11-28 10:52] francesco-vannini commented on #27
Could you try flashing the firmware again by following the procedure described here
https://github.com/PiSupply/Flick/blob/master/firmware/update/README.md

[2017-11-28 12:52] MichaelBitard commented on #27
I tried that, and I got this:

[code]

[2017-11-28 13:17] francesco-vannini commented on #27
Are you using a freshly created SD card with update Raspbian on it? Please let's move this to our support sale@pi-supply.com as this is not a problem with the code base and we can get pictures of your setup.

[2017-12-29 12:38] srcshelton opened #28 "README.md outdated or incorrect?"
I was about to return my Flick as faulty, as one of the early instructions is to run:

`sudo i2cdetect -y 1`

(noting the 'Tpo' typo just above) to confirm that the hardware is working.  On my RPi3B with HAT Flick board, I enabled i2c, rebooted, yet the above command still returns no devices found on any i2c address.

**However** the included demo does provide X, Y, and Z co-ordinates and I've got

[2017-12-29 12:57] srcshelton commented on #28
The `flicklib.py` library code performs i2c reads and writes to address `0x42` hard-coded, without any discovery - so is it just the case that the current firmware isn't responding as necessary for `i2cdetect` to show anything, but the ability to read device data and co-ordinates via the demo code is canonical proof of correct operation?

[2017-12-29 13:05] shawaj commented on #28
It should be detected on the i2c bus.

What do you see when you do i2cdetect command? Can you send a screenshot or paste the output here?

[2017-12-29 13:06] shawaj commented on #28
But yes, it's obviously working if it's reporting data back to the software. The interesting thing is why it isn't showing on the i2c bus when it is clearly there!

[2017-12-29 13:10] srcshelton commented on #28
Confirmed - the Flick device **does** show in `i2cdetect`, but only *after* it's already been used!
The initialisation performed by `flicklib.py` causes the Flick device to appear on i2c, but only once it's been run!  This is potentially confusing for new users...

[2017-12-29 13:14] shawaj commented on #28
@tvoverbeek @francesco-vannini have you seen similar behaviour with these boards?

[2017-12-29 13:14] srcshelton commented on #28
[code]

It's not a huge problem, of course - but the documentation should probably be updated to reflect this, so that more people don't do the i2c test as the first post-hardware-installation check, and then worry they they've broken something during installation!

[2017-12-29 13:30] srcshelton opened #29 "Demo code can't detect touch/tap/double-tap gestures with official Flick case"
The official Flick case, used closed, increases the minimum separation between the Flick HAT and the user's finger, and so the demo code isn't able to detect touch, tap, or double-tap events.

It would be helpful to add an on-screen notice and a simple user-editable flag to the demo code to account for this separation and allow the demos to fully work when the official case is used.

[2017-12-29 21:47] shawaj commented on #28
thanks @srcshelton that is great - we will investigate further with some new boards we have here and try to replicate.

do you have more than one Pi by any chance? I would be interested to know if you moved the board that is detected by one pi, to another pi and tried the same thing whether it would still occur on that "fresh" pi?

[2017-12-29 21:50] shawaj commented on #29
Thanks for posting this :-)

We have actually been thinking about a way to solve this for a while. Think it may require a firmware update because actually the gesture detection is hard coded into the MGC3130 chip. I am not 100% sure whether you can alter how these function.

We will investigate. Adding in @francesco-vannini and @tvoverbeek to see if they have any wise ideas (they usually have more

[2017-12-30 18:56] tvoverbeek commented on #28
Running `i2cdetect -y 1` (sudo not needed any more) directly after boot gives indeed no reply at address 0x42.
This is because the MGC3130 chip is in deep sleep after boot.
You have to reset the chip first before i2c works with Flick.
This is why it works after running any flick demo program.
You can send the reset (low pulse on GPIO 17) manually:
For example if you have the gpio program installed

[2017-12-30 19:36] tvoverbeek commented on #28
Updated README.md accordingly.
@srcshelton Stuart, thanks again for reporting this.
Closing issue

[2017-12-30 19:36] #28 closed

[2017-12-30 20:25] shawaj commented on #28
thanks @tvoverbeek @srcshelton :-)

[2018-01-11 21:42] gabrielduhoux opened #30 "flick-volctrl not working"
I'm having trouble with the flick-volctrl functionality.
When I run it, the response in LXTerminal is: `Compatible audio card not found`.
I tried the same using a USB Sound-Card and a HDMI Display-Controller but the response is still the same.
Now I have a speaker connected to the aux exit on the Raspberry Pi 3 b. The firmware is up to date and the flick-demo shows the Airwheel working as expected

[2018-01-12 12:20] francesco-vannini commented on #30
Hi, @gabrielduhoux , I have just tested things with a fresh Raspbian and a RPi 3B all looks good to me.

could you post your config.txt file
`cat /boot/config.txt`
and an ouptput of
`aplay-l`

[2018-01-12 15:23] gabrielduhoux commented on #30
[code]

aplay-1 --> `Command not found`

[2018-01-12 15:27] tvoverbeek commented on #30
Note the command should be `aplay -l` (letter lowercase L not the digit 1)
Here is the output on my RPi 3B:
[code]

[2018-01-12 18:32] gabrielduhoux commented on #30
Alright, thanks I missed that one @tvoverbeek.
Got the same output as you now.

But running flick-volctrl still getting `Compatible audio card not found`.
Any ideas on how to fix that?

[2018-01-12 19:23] shawaj commented on #30
@francesco-vannini looking at the code it is only set up to control JustBoom DAC / Amp cards not just the standard onboard audio or the Digi cards.

Perhaps we should extend the script to cater for those as well, albeit using the software mixer I guess? What do you think?

[2018-01-12 19:35] tvoverbeek commented on #30
Problem is in the last commit by @francesco-vannini in the set up the mixer section of main():
[code]
.Name is not `bcm2835 ALSA` but just `ALSA`
@gabrielduhoux suggest you copy the flick-volctrl source from github to your own directory and replace 'bcm2835 ALSA' with just 'ALSA' and try again.
@francesco-vannini can you test this and fix the repository?

[2018-01-12 19:49] tvoverbeek commented on #30
Thinking a bit more, the name change is not needed since you only use control and cardindex in setting the mixer.
However if there is an other sound card installed (not sndrpiboomberry or sndrpijustboomd) then you will end up with control='PCM' and cardId > 0.
The internal audio is card 0 -> mixer setup fails.
So I suggest the following instead:
[code]

[2018-01-12 21:01] shawaj commented on #30
Thanks Ton, as always :-)

[2018-01-13 15:22] tvoverbeek commented on #30
New day, new logic.
The code above will select the built-in ALSA card if both cards are enabled since the built-in card is usually card 0.
The following code first scans all cards to find the JustBoom one.
If not found it scans the cards again to find the built-in 'ALSA' card.
[code]

[2018-01-13 17:16] shawaj commented on #30
If the JustBoom Digi is attached, will this allow software control of the volume as well?

[2018-01-13 17:23] tvoverbeek commented on #30
flick-volctrl jut commands the mixer volume.
Any other way to command the mixer volume (i.e. the usual volume slider on
the desktop) will work

On Sat, Jan 13, 2018 at 6:16 PM, Aaron Shaw <notifications@github.com>
wrote:

[2018-01-13 18:29] shawaj commented on #30
Ah ok so for the DAC driver it's controlling hardware mixer directly but for on board audio it's just controlling the software mixer? Or the onboard audio has a hardware mixer?

Because with Digi hat, in normal operation, the normal software volume slider on taskbar doesn't work does it @francesco-vannini ?

[2018-01-14 11:48] francesco-vannini commented on #30
@tvoverbeek thanks for this, I'll test and amend the code. Strange thought that as I tested the whole thing the other day everything was working for me as I said above and I could control the bcm2835 volume so what the user is experiencing must anyway be related to something else.
As for the Digis @shawaj  I had created this ALSA configuration https://github.com/PiSupply/JustBoom#digi-boards when

[2018-01-14 14:39] gabrielduhoux commented on #30
@tvoverbeek I did what you recommended – still not finding a compatible audio card.
If I buy that JustBoom Digi (https://www.justboom.co/product/justboom-digi-hat/), would that help instead of using the Aux exit of the Pi?

[2018-01-14 15:41] tvoverbeek commented on #30
With no other audio cards connected even the original code should detect the built-in ALSA card as the only audio card.
Are you still getting 'Compatible audio card not found'?
Since your 'aplay -l' lists the ALSA audio card, something else must be going on.

You can still get card detected and no audio out of the 3.5 mm jack if the audio is routed to HDMI.
You can force it to the 3.5mm jack e.g.

[2018-01-14 16:18] gabrielduhoux commented on #30
My audio is routed to the 3.5 mm jack, when playing music, the audio works fine.
But the `flick-volctrl` still returns `Compatible audio card not found`.

Running `python` gives me:
`pi@raspberrypi:~ $ python
Python 2.7.13 (default, Nov 24 2017, 17:33:09)
[GCC 6.3.0 20170516] on linux2
Type "help", "copyright", "credits" or "license" for more information.

[u'ALSA', u'Device']`

[2018-01-14 18:01] tvoverbeek commented on #30
Yes, until the repo gets updated you can use the attached version of flick-volctrl (Attached file flic-volctr.py.txt)
Let me know if this version works with your usb mike attached.
[flick-volctrl.py.txt](https://github.com/PiSupply/Flick/files/1629615/flick-volctrl.py.txt)

[2018-01-14 18:14] gabrielduhoux commented on #30
Thanks for the file, but it does not work unfortunately `Compatible audio card not found` again...

[2018-01-14 18:32] tvoverbeek commented on #30
Just tested it (by forcing the cards() to return a 2 element list [u'ALSA', u'Device'])
and it detected the ALSA card properly.
You need to run the file directly, i.e. `python flick-volctrl.py.txt` (if you did not rename it)

[2018-01-14 19:00] gabrielduhoux commented on #30
Doing that I get a syntax error:
`python flick-volctrl
  File "flick-volctrl", line 74
    fwwin.erase()
        ^
SyntaxError: invalid syntax`

[2018-01-14 19:41] shawaj commented on #30
@francesco-vannini if you've set the Digi up like on that repo, will this script work with it? Or does it need different calls? Would be good to support it and maybe put a comment in the code for where to find the setup instructions on the JustBoom repo?

[2018-01-14 19:45] tvoverbeek commented on #30
@gabrielduhoux My bad. In line 71 a closing parenthesis is missing.
`datawin = curses.newwin(4, curses.COLS - 6, 4, 3` should be
`datawin = curses.newwin(4, curses.COLS - 6, 4, 3)`
Could you add the closing parenthesis and try again (last time, I hope).

[2018-01-14 20:12] gabrielduhoux commented on #30
@tvoverbeek perfect!! Thanks a lot! I didn't see that one.

@tvoverbeek @francesco-vannini and everyone: Thank you for all the help!! working perfectly now :) 👍

[2018-01-14 20:55] tvoverbeek commented on #30
Change commited to master.

[2018-01-14 20:55] #30 closed

[2018-01-15 08:47] francesco-vannini commented on #30
@tvoverbeek thanks for committing the new code

[2018-01-15 10:24] shawaj commented on #30
@francesco-vannini did you see my question?

[2018-01-15 11:04] francesco-vannini commented on #30
yes (I put a thumbs up) don't worry @shawaj I wrote this down and will work on it

[2018-01-15 11:51] shawaj commented on #30
Sorry, didn't get notified about the thumbs up

[2018-01-17 21:52] matthew1809 opened #31 "Flick demo/s not detecting gestures"
Installed Board and verified w/ `i2cdetect -y 1`
- Correctly showing 42 as address

Ran `flick-demo`
- Verified valid firmware etc.

Began gesturing over board (no cover)
- No response when running `flick-demo`, or `flick-snail`

Wondering how to debug further, apologies for any naivety, beginner speaking!

[2018-01-17 21:55] matthew1809 commented on #31
Seems to be similar to https://github.com/PiSupply/Flick/issues/14

[2018-01-17 22:01] matthew1809 commented on #31
Nothing logging through demo or snail.

[2018-01-17 23:34] shawaj commented on #31
Which board have you got?

On 18 Jan 2018 00:01, "Matt Foyle" <notifications@github.com> wrote:

[2018-01-18 08:43] matthew1809 commented on #31
https://uk.rs-online.com/web/p/human-machine-interface-hmi-development-kits/1365431/

The Pi 3 is model B

[2018-01-18 10:36] shawaj commented on #31
Have you tried on any other pis?

[2018-01-18 10:48] matthew1809 commented on #31
Don't have any other Pi's to try on I'm afraid

[2018-01-18 14:49] matthew1809 commented on #31
Any other method of debugging?

[2018-01-18 14:57] francesco-vannini commented on #31
So nothing else is connected to your Pi, you are running a fresh version of Raspbian and the Flick board is correctly wired to your RPi 3B?
BTW @shawaj was asking which Flick you have not which Pi

[2018-01-18 17:25] tvoverbeek commented on #31
The link @matthew1809 gave (https://uk.rs-online.com/web/p/human-machine-interface-hmi-development-kits/1365431/) shows the Flick HAT.

[2018-01-18 17:33] matthew1809 commented on #31
As @tvoverbeek said 👍

So nothing else is connected to your Pi
- usb keyboard and mouse, hmdi for display

you are running a fresh version of Raspbian
- correct

the Flick board is correctly wired to your RPi 3B?
- As per the following from the guides, yes ` Place the Flick HAT on top of the Raspberry Pi by gently pushing the female header onto the Raspberry Pi male header.`

[2018-01-18 17:51] francesco-vannini commented on #31
Sorry I hadn't seen the link. I am out of options then, there could be grounds to return the item then.

[2018-01-18 17:53] matthew1809 commented on #31
No worries!

Is there a layer between the demo and the raw recognition of the gesture, where we could inject some logging?

Or, is it clear cut that if not logging in the demo, it's not being picked up by the board?

[2018-01-18 18:58] shawaj commented on #31
Firmware refresh is the best option really now. It might just be corrupted somehow

If no success with that then we will replace

[2018-01-22 14:09] francesco-vannini opened #32 "Add JustBoom Digi to flick-volctrl"
Add changes based on code already created for https://github.com/PiSupply/JustBoom/blob/master/jb-rotary.py
Also add to README https://github.com/PiSupply/JustBoom#digi-boards

[2018-01-25 20:19] VolkerH opened #33 "No gesture data ... but can turn on/off leds"
Hi,

I seem to have a similar problem as here: https://github.com/PiSupply/Flick/issues/14

No gesture info with any of the demo programs.

* Brand-new flick large ordered through RS Components in Germany
* Fresh install of Raspbian (with latest noobs) on Pi 3B.
* Installed flick from github using curl as in Readme.md
* Triple check board is wired up correctly
* I2C is enabled.
* I can turn the re

[2018-01-25 20:39] VolkerH commented on #33
Continued to work on this.
I cross-checked with another Raspberry Pi 3b (brand new out of the box). Same issue.
As I am impatient I tried the firmware update. Firmware update ran without error, however no change, still not getting any gestures.

[2018-01-25 22:34] shawaj commented on #33
Could you send some pictures of both sides of the board, and high
resolution as you can?

And also of the connections?

Thanks

On 25 Jan 2018 8:39 pm, "VolkerH" <notifications@github.com> wrote:

[2018-01-25 23:12] VolkerH commented on #33
Hi
Thanks for your reply.
I took some pictures and uploaded them to a flickr album https://www.flickr.com/gp/94122950@N05/1f22zH

[2018-01-26 08:48] VolkerH commented on #33
Ok. I was testing at home yesterday. At work I found out that my colleague had ordered a second flick large, so he could experiment as well.

The second board works, I get meaningful data out of flick-demo.

I guess I should exchange the defective board via RS components ?

[2018-01-26 19:14] shawaj commented on #33
Could you try with your cable and the other board to see if the cable is defective?

And could you try removing the plastic part in top of the header pins on the Flick blocking the cables from getting a proper connection?

That's only there to make it easier for the pick and place machine to place the component during manufacture

[2018-01-27 14:29] VolkerH commented on #33
I did check the working board with the cable that came with the (suspected) defective board.
The new board works with both cables.  The old board works with neither cable.

I will try and check whether the plastic part makes a difference. I highly doubt it.
The connections are mainly I2C bus pins GND, VCC and the two LEDs as I see it.

If the I2C bus pins didn't work I don't think the demo program

[2018-01-27 14:32] shawaj commented on #33
It's extremely unlikely that the i2c would work but the gestures not.

Perhaps try with shorter jumper cables if you can. Perhaps the capacitance in the cable is too high.

We've never seen this issue with the zero or hat boards so I can't think what else it could be frankly...

[2018-01-27 17:02] mmilann commented on #33
There is c++ test program that can be used alternatively to python for
testing:
https://github.com/PiSupply/Flick/tree/master/firmware/libcpp

Readme explains how to build and also requires to install wiringpi:
sudo apt-get install wiringpi

On Sat, Jan 27, 2018 at 3:32 PM, Aaron Shaw <notifications@github.com>
wrote:

[2018-01-27 18:50] tvoverbeek opened #34 "c++ flick_example does not work"
There is one statement missing in flick_example.cpp:
[code]
Enabling the output makes it work.

[2018-01-27 18:50] tvoverbeek commented on #33
@mmilann The c++ test program does not produce any output because no outputs are enabled.
See #34

[2018-01-27 19:21] shawaj commented on #34
Thanks @tvoverbeek - is that the only issue with it?

Which line is this on so can easily find it to fix?

[2018-01-27 19:32] tvoverbeek commented on #34
Yes, rest is OK.
The extra line has to be added after line 117 in flick_example.cpp

[2018-01-27 19:42] mmilann commented on #33
It will work if it was not previously locked by another application,
because by default after power-up gesture data in payload are not locked.

On Sat, Jan 27, 2018 at 7:50 PM, Ton van Overbeek <notifications@github.com>
wrote:

[2018-01-27 19:43] shawaj commented on #34
Fixed now - https://github.com/PiSupply/Flick/blob/master/firmware/libcpp/flick_example.cpp

Does that look ok @tvoverbeek ?

Guess we need to upload a new compiled version as well, once you are happy with it

[2018-01-27 19:48] tvoverbeek commented on #33
I did not get any output when starting from power-off and not running any other flick software before.
As far as I can tell you need to lock the outputs, otherwise the offsets for the various fields in the sensor data message are not constant.

[2018-01-27 19:49] tvoverbeek commented on #34
OK

[2018-01-27 19:55] shawaj commented on #34
Have you got a compiled version you could upload? If not no worries, I'll sort it when I'm next by a Pi

[2018-01-27 20:28] tvoverbeek commented on #34
Compiled version uploaded

[2018-01-27 20:28] #34 closed

[2018-01-27 20:43] shawaj commented on #34
Thanks :-)

On 27 Jan 2018 8:28 pm, "Ton van Overbeek" <notifications@github.com> wrote:

[2018-01-28 21:40] VolkerH commented on #33
Hi,
thanks for the suggestions. I've been quite busy this weekend developing something cool with the working board. I don't have shorter jumper cables at hand.

If the capacity of the cable was the problem I would suspect that both flick boards would have a problem. However, the second board I tried is rock-solid. No glitches with either cable.

Will try clipping off the extra plastic bit for the

[2018-01-28 21:51] shawaj commented on #33
Did you try the c++ test program?

[2018-01-28 22:09] VolkerH commented on #33
No, I didn't yet. I left the defective board at work so no chance to test
on the weekend.

On 28 January 2018 at 22:51, Aaron Shaw <notifications@github.com> wrote:

[2018-01-29 00:12] shawaj commented on #33
Ok let us know when you've managed to test

[2018-03-13 16:20] stemeh opened #36 "Problem after update Firmware"
I have update the Flick HAT and now wenn I start the Flick-demo The Raspberry show this Error :
Traceback (most recent call last):
File "/usr/local/bin/flick-demo", line 4, in <module>
__import__('pkg_resources').run_script('flicklib==0.0.1', 'flick-demo')
File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 534, in run_script
self.require(requires)[0].run_script(script_name, ns)
File "/

[2018-03-13 17:58] stemeh commented on #36
no the update go without problems i retry it more times.

This ist the info from Raspberry :

Flick_HAT_V1.1.enz  flickupdate  flickupdate.c  Library.c  Loader.c  README.md
pi@pi-top:~/Downloads/Flick-master/firmware/update $ ./flickupdate Flick_HAT_V1.1.enz
can't open  gpio xfer direction file
can't open  pin file
can't open  gpio xfer direction file
can't open  gpio xfer direction file
can't ope

[2018-03-14 11:07] mike-shock commented on #31
I have the same problem as **matthew1809** with both of my Flick HAT and Flick Zero pHAT which I bought from ModMyPi.com. I tried them with 2 Raspberry Pi Zero W and with Raspberry Pi 3 Model B - no detection of gestures, only hardware info's shown on the screen. Both boards have Revision Number 99.128.
**shawaj** in Issue#14 said that reflashing of the firmware is not recommended.
What shoud I do

[2018-03-14 11:13] ChristopherRush commented on #36
Have you tried re-installing the Flick Repository?

[2018-03-14 12:57] stemeh commented on #36
Yes, I also downloaded it again but it is the same problem

[2018-03-14 16:34] stemeh commented on #36
Now I have use a new installation from rasperryPI strech an make update and upgrade and then install the Flick git.

and the same problem

 flick-demo
Traceback (most recent call last):
  File "/usr/local/bin/flick-demo", line 4, in <module>
    __import__('pkg_resources').run_script('flicklib==0.0.1', 'flick-demo')
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 739, in

[2018-03-14 16:43] stemeh commented on #36
Now I Have make the update from Flick again now the Porblem is fixed . Thank you for help !

[2018-03-14 16:48] ChristopherRush commented on #36
To anyone seeing this thread after it has been closed.......

You should not reflash the firmware unless it is recommended by one of us directly to you as you can break the board by doing so. It should only be done after all other tests have been performed and ONLY if one of us requests it.

[2018-03-14 16:48] #36 closed

[2018-03-15 13:57] shawaj commented on #31
@mike-shock have you tried the firmware refresh?

[2018-03-15 16:24] mike-shock commented on #31
No. I may try if you recommend to do it.

[2018-03-17 20:01] shawaj commented on #14
@mike-shock can you please start a new issue with exactly what you're seeing?

[2018-03-17 20:05] shawaj commented on #31
@mike-shock can you start a new issue with what you're seeing?

[2018-03-19 07:27] mike-shock opened #37 "Link to"
On the main page of _https://github.com/PiSupply/Flick_ the link "Resources for the Flick range of boards and cases" **https://pisupp.ly/flick1** points to "404 Not Found" page.

[2018-03-22 18:47] shawaj commented on #37
this will be fixed in the next week or so

[2018-03-27 11:42] wit009 commented on #33
Hi Guys,

I have exactly the same behaviour as VolkerH - any suggestions?

[2018-03-27 16:52] VolkerH commented on #33
Completely forgot about this ticket. When I was working on this I had an urgent deadline. Gave back the flick that wasn't working to our purchasing department and used another one. I don't think they returned it to RS as it probably wan't worth their time and the shipping cost to get the money back.

Never tried the C++ program. IMHO if a flick doesn't work out of the box with the flick-demo progr

[2018-03-27 18:47] shawaj commented on #33
@VolkerH it is unlikely to be broken. At worst it probably needs a firmware update. You can do this very easily. So I would recommend getting it back from purchasing and seeing if you can fix it, if it is not too late :-)

[2018-03-27 18:48] shawaj commented on #33
@VolkerH or send it back to us, as it would be nice to see if we can actually work out why this is occuring

[2018-03-27 22:18] VolkerH commented on #33
Well, I did run the firmware update as I mentioned in my second post. Firmware update ran without error but didn't change the fact that there was no gesture sensor data.

I need to see whether I can get it back or whether they discarded it already.

[2018-06-19 23:00] donmaronio opened #38 "Flick gesture stopped working(south - north etc)"
Hi, i've installed flick few days ago and averything was working great, but i've added to my system Allo Boss DAC and S.usv ups basic yesterday, and since then flick does not work properly. What i mean is that taps double taps and touch is working fine, flick-demo shows position of my finger above, but flicking does not, once for a while demo will show that i've flicked over it but very rearly. Do

[2018-06-20 12:37] tvoverbeek commented on #38
Flick is dependent on detecting disturbances in its electric field caused by your hand.
Mu guess is that one (most likely the voltage converters on the UPS) or both HATs disturb the electric field too much to get a good detection of flicks.
Do you have the DAC, UPS and Flick all stacked on top of each other?

[2018-06-20 14:42] donmaronio commented on #38
I've got UPS plugged on to the rpi and on that i've got gpio expander (https://botland.com.pl/26910-large_default/ekspander-wyprowadzen-gpio-hat-nakladka-dla-raspberry-pi-32b.jpg) and to that expander i've got plugged flick and dac

[2018-06-20 22:30] ThePr0gr4mm3r opened #39 "No Gesture Data, but shown by demo programs and i2cdetect"
I have bought the Flick HAT last week, yesterday it arrived. I tested it with a RPi 3 Model B, and it worked fine. Today, the Flick HAT is not giving any gesture data when running the demo, without changing anything (same demo, same RPi, same HAT).
After some googling, I found a similar problem: https://github.com/PiSupply/Flick/issues/14

Details:
I access the RPi via SSH (Putty).
`i2cdetect -y 1

[2018-06-20 22:53] shawaj commented on #39
Do you have anything else connected?

Is it getting XYZ data on the demo program?

[2018-06-20 23:20] ThePr0gr4mm3r commented on #39
The Flick HAT is the only HAT on the Pi. The Pi has ethernet for remote access and (obviously) the power cable connected.

There is no XYZ data available.

[2018-06-21 20:53] ThePr0gr4mm3r commented on #39
Just made some tests with the RPi 3B and the Flick HAT.

If I unplug the power cable while the Pi is running, it will not work on the next boot and show the already mentioned empty screen (where the data should be). It will work again if i:

- call `sudo poweroff`, wait until the Pi shutted down, pull the power cable and plug in the power cable.
- call `sudo reboot` without plugging.

I hope this

[2018-06-21 20:53] #39 closed

[2018-06-21 21:02] shawaj commented on #39
Hmm I guess this is some issue due to initialisation of the chip then.

Thanks for the info

[2018-07-03 12:10] OneWhey opened #40 "Flick large stopped working"
Hi!

When I first installed my Flick Large on my Raspberry Pi Model 3 B+ it worked perfectly - for a minute.
Then !without changing anything! I couldn't start the flick-demo any more. So I tried the flick_example in libcpp. This one started but showed a very strange behavior: It detects touches, taps and double taps - very poorly, though. I have to touch and hold for about 2 seconds for it to reco

[2018-07-16 10:19] ChristopherRush commented on #40
@OneWhey Picked up your email but going to reply on here since it will be documented for other users.

Do you have any other HAT boards connected to the Pi at all?

[2018-07-16 10:29] OneWhey commented on #40
I've had other things connected, no HAT boards, though. Mostly sensors which are connected via I2C.
Disconnecting all of those and only having the flick large connected didn't change anything. Flick still didn't work and showed the same strange behaviour.

[2018-07-18 07:09] OneWhey commented on #40
@ChristopherRush
Sorry, I'm new to GitHub. Do I have to mention you in order to have you notified?

[2018-07-18 09:17] ChristopherRush commented on #40
@OneWhey I'm going to take a look at this now, see if I can replicate this issue. What sort of power supply are you using with the Pi?

[2018-07-18 12:14] OneWhey commented on #40
@ChristopherRush
I'm using the original Raspberry Pi Power Supply, so this should not be an issue, right?

This is what I get when trying to run the flick-demo:

`pi@raspi_3:~ $ i2cdetect -yes 1
     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00:          -- -- -- -- -- -- -- -- -- -- -- -- --
10: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
20: -- -- -- -- -- -- -- -- -- 29 -- -- -- -- --

[2018-07-18 13:59] tvoverbeek commented on #40
What are the other devices on the I2C bus? Flick is on address 0x42, but i2cdetect also sees something at addresses 0x29, 0x5a and 0x76.
From the traceback it seems the RPi cannot communicate with the Flick board at 0x42.
Bad wiring, broken wires ????
Can you control the LEDs on the Flick Large as written in https://github.com/PiSupply/Flick/blob/master/README.md?

[2018-07-18 15:40] OneWhey commented on #40
@tvoverbeek
The others are just sensors. They shouldn't have any bad effect on the communication with the flick board. I have already tried the flick board without anything else connected to the i2c bus and it didn't change anything.
I checked the wiring with my multimeter, so this isn't the source of my problem, either. If there would be a problem with my wiring, I shouldn't be able to find the f

[2018-07-26 08:54] zaalll opened #41 "API for motor"
Hi all. Is there any API for controlling motor using flick hat? Or do i need to write a new one myself?

[2018-07-26 09:11] shawaj commented on #41
Yes you would have to write one. We don't have anything like that at the moment

[2018-08-03 10:13] ChristopherRush commented on #40
@OneWhey Can you post a picture of your setup please.

[2018-08-04 15:03] OneWhey commented on #40
@ChristopherRush

So I have rebuilt the setup of my Raspberry Pi 3 B+ with only the Flick Large attached to it.
I'm back to being able to run flick-demo but it is very unresponsive to touches and taps unless i ground myself by touching the e.g. LAN port of my Pi. No gestures or air wheel is recognized, though.

I found one more thing, wich is probably a problem: When I run i2detect multiple times,

[2018-08-04 15:16] shawaj commented on #40
@ChristopherRush have you seen this kind of issue before? I'm thinking maybe a firmware reflash might help but not sure

[2018-08-04 15:30] OneWhey commented on #40
@shawaj  @ChristopherRush

I have already reflashed the firmware multiple times

[2018-08-06 09:03] ChristopherRush commented on #40
@shawaj I have't come across this behaviour before with this board. If there are issues, generally a re-flash would resolve it.

@OneWhey Do you have any F-F Jumper wires that you could swap over, just so we can eradicate a possible cable issue?

[2018-08-06 12:42] OneWhey commented on #40
@ChristopherRush I have checked the connections with a multimeter. I have tested them from where the connector on the flick board is soldered to the board across to the pins on the Pi's board. There should not be any issues with the cables.

[2018-08-06 12:52] shawaj commented on #40
It's worth trying a new cable anyway as it might be frayed internally and be temperamental. Continuity doesn't necessarily mean a good connection

[2018-08-08 17:55] Alekaei opened #42 "Does the flick large work with the pi zero?"
just what the title says

[2018-08-08 18:00] shawaj commented on #42
Yes all the Flick boards work with any RasPi

[2018-08-08 18:00] #42 closed

[2018-08-13 10:54] OneWhey commented on #40
@ChristopherRush @shawaj
It took a while, but I had to get supplies to make a new cable from my previous workplace.
The flick board is still showing the same strange behavior with the new cable.

[2018-08-14 10:57] lbilde opened #43 "When running flicklib demo I get NameError: name 'sys' is not defined"
Hi Flick :)

When I run flick demo on the pi I keep getting the following error:
pi@raspberrypiLars:~/Flick/bin $ flick-demo
Did not receive firmware info
Traceback (most recent call last):
  File "/usr/local/bin/flick-demo", line 4, in <module>
    __import__('pkg_resources').run_script('flicklib==0.0.1', 'flick-demo')
  File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 739, i

[2018-08-14 15:34] shawaj commented on #40
Sure

[2018-08-15 06:11] lbilde commented on #43
Hmm seems I can't, using i2cdetect -y 1 results in this:

     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00:          -- -- -- -- -- -- -- -- -- -- -- -- --
10: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
20: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
30: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
40: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
50: -- -- -- -- -- -- -- -- --

[2018-08-15 08:18] ryanteck opened #44 "sys Not defined in line 479"
As mentioned in issue #43 the user gets the error sys is not defined. This isn't the cause of the user's issue however shouldn't happen.

[2018-08-15 08:49] lbilde commented on #43
Trying to reinstall my pi, can the flick-demo run with python 3.7?

[2018-08-15 09:55] lbilde commented on #43
After reinstall and using python2.7 I am back and running, thx..

[2018-08-15 14:35] tvoverbeek commented on #43
@lbilde @ryanteck Yes there is an other issue.
If there is an I2C problem then the atexit function (_exit()) is called.
_exit() stops the polling however at this point the worker thread is not defined yet and hence you get the `AttributeError: 'NoneType' object has no attribute 'stop'` at line 330.
Suppose we have to add a test like `if '_worker' in globals()` before calling _worker.stop()

[2018-09-18 08:34] edouin opened #46 "flicklib demo results in error."
I am getting this error when trying to run flick-demo.
Can you suggest what to do?

I checked i2cdetect and it shows the device.

Also tried firmware update.

pi@raspberrypi:/usr/src $ flick-demo
Traceback (most recent call last):
  File "/usr/local/bin/flick-demo", line 4, in <module>
    __import__('pkg_resources').run_script('flicklib==0.0.1', 'flick-demo')
  File "/usr/lib/python2.7/dist-packa

[2018-09-18 12:02] tvoverbeek commented on #46
@edouin The interesting line in the traceback is:
[code]
When you look at flicklib.py (https://github.com/PiSupply/Flick/blob/master/flick/flicklib.py)
it seems you were able to communicate with the Flick board, but it did not recognize the correct firmware.
Note there are specific firmwares (different parameters) for each variant (https://github.com/PiSupply/Flick/tree/master/firmware).

Right no

[2018-09-19 00:52] edouin commented on #46
Indeed, flashing solved the GestiIC  library error.
But gesture data is still not registered by the flick-demo.py.
I am using Flick Hat and it was working before.
What can I do for troubleshooting this problem?

                             **** Flick Demo ****

   ┌────────────────────────────────────────────────────────────────────────┐
   │ X Y Z     :

[2018-09-19 01:54] edouin commented on #46
Update on the situation.
C++ example ./flick_example is showing the readout.
The problem seams to be in my Python code.

[2018-09-19 19:07] tvoverbeek commented on #46
@edouin See my answer on Discord

[2018-09-20 08:29] edouin commented on #46
Still no luck. But getting readout with this library https://github.com/open-electronics/GestIC

[2018-09-24 16:27] ChristopherRush commented on #41
Nothing to report here but a Python API is on the ToDo list

[2018-09-24 16:27] #41 closed

[2018-09-24 16:28] ChristopherRush commented on #37
Issue has been fixed

[2018-09-24 16:28] #37 closed

[2018-09-24 17:08] ChristopherRush commented on #38
@donmaronio Any luck on this?

[2018-09-24 17:15] ChristopherRush commented on #33
@VolkerH @shawaj I'm closing this since we don't have the faulty board to test and there wasn't a resolution.

[2018-09-24 17:15] #33 closed

[2018-09-24 17:55] ChristopherRush commented on #32
@shawaj Do we really need to add this since the volume is ether 0 or 100?

[2018-09-24 19:43] francesco-vannini commented on #32
The idea was to use the same approach used for the rotary in JustBoom repo. Look at the Digi boards note on the main README.md

[2018-09-26 05:58] edouin commented on #46
Ended up using direct I2c read write...
...
`bus.write_i2c_block_data(addr, 0x10,[0x00, 0x00, 0xA2, 0x85, 0x00, 0x00, 0x00, 0x7F, 0x00, 0x00, 0x00, 0x7F, 0x00,0x00, 0x00])`
...
`data = bus.read_i2c_block_data(addr, 0x00, 26)  #Read the sensor data payload`
...

This way everything works fine.

[2018-10-01 13:39] bricolodu13 opened #47 "No gesture detection"
Hello,

I have the same problem as a few other people here
I have 3 brand new Flick Hat boards
I have 2 Raspberry Pi 3, one is brand new
I tried with fresh debian and fresh Dietpi
I have plugged the Flick Hat, with : "_i2cdetect -y 1_" none were detected
I have made a cable between the Pi and and the Flick Hat
Now the Flick Hat are now detected with i2cdetect -y 1
when I start the flick-demo
![ima

[2018-10-01 15:46] tvoverbeek commented on #47
@bricolodu13 Jean,
Strange that i2cdetect shows nothing when the HAT is connected directly, but does show it when you connect with a cable (assume it is a 40 connections GPIO cable, power and i2c only are not enough).
See https://pinout.xyz/pinout/flick_hat.
If you get the firmware info in flick-demo, then at least the first i2c transaction worked.
Two things I can suggest:
1) try to get i2cdetect

[2018-10-01 16:12] bricolodu13 commented on #47
Hello Ton,

No It is not a 40 connections GPIO cables, here is what is connected
when I use an external cable between the Pi and the Flick Hat connected as the following maping :
GND          -> Pin 6 (I have checked that all the ground pin on the Flick Hat are connected together)
TS           -> Pin 13
Reset        -> Pin 11
SCL          -> Pin 5
SDA          -> Pin 3
VCC (3V3)        -> Pin 1
5V

[2018-10-02 01:59] edouin commented on #47
Yes, same problem...
The only solution that worked for me was bypassing the Flick library.
Strange problem, because C++ example and custom Python script works fine.

[2018-10-02 03:14] bricolodu13 commented on #47
Unfortunately, for me, I had my own Python script, but it didnt make it either...

[2018-11-22 16:59] schlachtkreuzer6 opened #48 "No Gesture detection - Communication between Pi and Boards working Flick/Justboom"
Hi!

so freh installed Pi with latest updates.  No gesture Control in flick-demo.

![pi](https://user-images.githubusercontent.com/24482193/48915831-673bd880-ee80-11e8-95b9-b0b8a93f1425.PNG)

pi@MagicMirrorBadezimmerOG:~ $ i2cdetect -y 1
     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00:          -- -- -- -- -- -- -- -- -- -- -- -- --
10: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
20: --

[2018-12-02 12:31] checkerap commented on #29
any updates on this, it's been a year and I just picked up a new Flick board, same thing happens. tap, double tap are not working when the board is covered, tap it is somewhat works without a cover, double tap not that much, very unreliable/useless.

[2018-12-02 12:36] shawaj commented on #29
If you need to use specific functions more accurately, the best way is to build a custom GestIC firmware yourself, deactivating the gestures you don't need. This makes the ones you do need more accurate.

This is not a bug but just the nature of a chip like this.

[2018-12-02 12:36] #29 closed

[2018-12-02 12:39] tvoverbeek commented on #29
Just wondering if when using a 3B or 3B+ the on-board WiFi and Bluetooth disturb the electric field used by the Flick to detect gestures, taps, etc.

[2018-12-05 14:32] checkerap commented on #29
@shawaj understand the limitations, I may have misread the ads, I thought all gestures except touch are "3d air-based". I was hopping to use the tap as an "enter/click" type event. would be great if the firmware can be adjusted.

[2018-12-06 05:51] lionelvrolijk commented on #14
guys i need help with mine i accidently run the wrong firmware update

[2019-01-25 00:33] narner opened #49 "Communication not working & demos not working after instructrions"
Hi there, I'm using a Flick HAT with a Raspberry Pi 3 B+.

I've followed all the instructions for installing the Flick library, as well as made sure that my i2c interface was configured.

Running `gpio mode 17 out; gpio write 17 0; gpio write 17 1; i2cdetect -y 1` gives me the following output:

[code]

And running `flick-demo` gives me the following Firmware info:

[code]

[2019-01-25 00:59] shawaj commented on #49
Did you install wiringpi before loading that?

Is the HAT definitely connected properly to the board? And i2c is enabled?

[2019-01-25 01:36] shawaj commented on #49
Was there a picture?

[2019-01-25 01:43] narner commented on #49
Ah there should have been!
![img_0726](https://user-images.githubusercontent.com/2131591/51719740-8c270600-1fff-11e9-9af2-d15a01a9b46d.jpg)

[2019-02-08 14:05] 666github666 opened #50 "Flick Zero Calibration Issue"
Hi, I'm running Flick Zero on Raspberry Pi 2.
Generally gestures are detected but have some problem with Y coordinate shown in Flick Demo under python example.
When I move my finger accross X coordinate it is scaled from 0 to 1 at the end of board. It is OK.
When I move my finger accross Y coordinate it is scaled from 0 to 0.7 maximum which causes also an issue with Touch gesture. As a result it i

[2019-02-21 14:51] 666github666 commented on #38
Hi, I have similar setup and same issue. Is there any way how to limit electric field disturbance by other components on Flick?

[2019-02-27 18:16] narner opened #51 "Flick Large + UNO comms"
Hi all,

I'm currently having an issue with the Flick Large + Arduino UNO. I'm using the [Skywriter UNO library](https://github.com/pimoroni/skywriter-hat/tree/master/arduino) for interfacing between the two.

I'm able to get results using the Skywriter board, but not the Flick board... the Arduino sketch I'm trying to use is below, and photos what my wiring setup looks like is attached. Any help

[2019-03-08 00:10] narner commented on #51
Hi, has anyone had the chance to look at this yet?

[2019-03-08 19:17] tvoverbeek commented on #51
@narner I believe the problem is there are no pull-up resistors on the SDA and SCL lines on a UNO.
Teensy has some weak pull-ups.
The i2c-scanner sketch (https://playground.arduino.cc/Main/I2cScanner) does not find anything.
Will try later with some 4k7 pull-ups.

[2019-03-09 05:48] narner commented on #51
@tvoverbeek sounds good --- just super odd since at one point I did have it working with an Uno...

[2019-03-09 18:35] tvoverbeek commented on #51
Tried with 4k7 pull-ups. No dice.
Also looked with a scope (Bitscope DSO) to the signals. Look OK both with and without pull-ups, but clock stretching at begin and end.
Maybe something has changed in the Wire library.
So we are back at square one.

[2019-03-10 19:55] tvoverbeek commented on #51
Have been reading and thinking a bit more.
It seems the MGC3130 on the Flick is not acknowledging any transaction initiated by the 5V side (Uno). It has to pull the SCL line low-high-low as acknowledgment.
There are bidirectional level converters on the Flick board. However for I2C to work with different voltages there need to be pull-up resistors on both the 5V and 3.3V side (the Flick side).
The

[2019-04-12 17:03] raffaeler opened #52 "Flick Large communicates but does not recognize gestures"
Hello, as it happened to others, I can't make the demo working.
Installation was ok
No other peripherals are connected.
I have no errors and I can turn the green and red len on and off via bash.

I didn't update the firmware. Also, I don't get why the firmware version on GitHub is 1.1 while the board has 1.3. I expected at least the same.

What can I do to make it run?

[code]

Running the demo ..

[2019-05-02 17:02] landrymzb opened #53 "Flick demo won't run on Pi3"
My flick hat recently just stopped working.It connected to Pi3 perfectly. I ran the i2cdetect and I have 0x42 detected. I even installed the fresh Raspbian, ran an apt-get update, apt-get upgrade then the curl command to install the flick demo code and libraries.
When I run the flick-demo, and try to use the pad, nothing happens. When I p[ress Control-C to exit the program this is what I see:
[cod

[2019-05-02 17:19] shawaj commented on #53
@landrymzb that is a normal output when you close the program with a CTRL-C

So what happens when the program is running?

[2019-05-02 17:30] landrymzb commented on #53
@shawaj the program is running , but I have to execute : curl -sSL https://pisupp.ly/flickcode | sudo bash every time, then flick-demo. Sometimes it runs perfectly, and other time nothing happens.

[2019-05-02 17:33] shawaj commented on #53
@landrymzb which board do you have?

And when you say sometimes it runs perfectly and other times nothing happens - can you be more specific about what does and doesn't happen?

You shouldn't have to install the software more than once and this could in fact be complicating things further.

Have you tried starting from a new NOOBS / Raspbian install to eliminate any other issues?

[2019-05-02 17:43] landrymzb commented on #53
It works perfect now on new Noobs. Thanks for your help. I think I started getting complication ever since I started using ssh

[2019-05-02 17:48] shawaj commented on #53
Perfect, I'll mark this as closed now but if you have any issues in future feel free to post back here

[2019-05-02 17:48] #53 closed

[2019-06-09 20:32] SnowyCoder opened #54 "flicklib.flick returns null when used as annotation"
If a python user uses an annotation he expects the method to not be deleted, when we use the method as shown in the example the function `flick` used as an annotation returns `None` replacing the method defined by the user with nothing.
The same issue can be found in `touch`, `tap`, `double_tap`, `garbage`, `move` and `airwheel`.
<br>Example:

[code]

Workaround (manual annotation call)
[code]

[2019-06-10 17:34] tvoverbeek commented on #54
@SnowyCoder That is not how flicklib and the annotations work.
When you import flicklib it already starts a continuous poll of the MGC3130 (the chip on the flick board).
It then reports all possible events to the library.
When you have defined a function with annotation in your own code like
[code]
Then the polling loop in the library will call your on_flick function where you can detect which way

[2019-06-11 13:25] SnowyCoder commented on #54
Sorry for the misunderstanding, I'll explain the use case of it:
I have an app that needs to work, no matter what the case is, sometimes the program doesn't receive the input from the flick so my callbacks don't get fired.
To fix it I put another system that calls the callbacks manually using the input from a keyboard.
It works all-right until i try to call my `on_flick` callback, as it has been "

[2020-02-05 20:32] ChristopherRush commented on #22
![flick-github-banner](https://user-images.githubusercontent.com/1878314/73880628-afad9f00-4856-11ea-975a-ec95b6ffacbe.png)

[2020-02-12 14:51] ryanteck commented on #47
For others to reference: The fix to this is connecting the 3V3 Pin as well on pin 17.

[2020-02-12 14:51] #47 closed

[2020-04-01 08:53] ifitikhar-iffy opened #55 "flick zero demo error"
I have raspberry pi model B+ with latest raspbian OS released on 13-02-2020 with flick zero. Flick demo was working fine yesterday but suddenly it stopped working.
Here is the error image
![IMG_1874](https://user-images.githubusercontent.com/12911446/78118053-d97ede80-741f-11ea-8ab3-9d37c4b1acbc.jpg)
I reinstalled the OS and flick but the issue is same.
I've tried i2cdetect -q 1, It resuls 42, no

[2020-04-01 12:59] ifitikhar-iffy commented on #46
![IMG_1874](https://user-images.githubusercontent.com/12911446/78139580-2e335100-7442-11ea-8dca-001375ca15ef.jpg)
I am having the same issue, i don't know how to solve, i've tried reinstalling the OS, i2cdetect is also good, i don't know how flashing solves the issue

[2020-04-01 13:11] ryanteck commented on #55
I can confirm that I can reproduce. I'll start working on if I can fix it.

[2020-04-01 13:16] ChristopherRush commented on #55
Try updating the Firmware that should fix it.

On Wed, 1 Apr 2020, 14:11 Ryan Walmsley, <notifications@github.com> wrote:

[2020-04-01 13:28] ifitikhar-iffy commented on #55
![IMG_1878](https://user-images.githubusercontent.com/12911446/78142354-44431080-7446-11ea-8d59-91f4758942dc.jpg)
I don't know how to update firmware but I tried this, but it does not work because Flick is a read only root directory and I don't know how can I change permissions.

[2020-04-01 13:30] ChristopherRush commented on #55
Add sudo at the beginning of the line

On Wed, 1 Apr 2020, 14:28 ifitikhar-iffy, <notifications@github.com> wrote:

[2020-04-01 13:45] ryanteck commented on #55
@ifitikhar-iffy I can confirm there was an issue in the library however the firmware update suggested by @ChristopherRush also needs to be done as the error was in relation to telling you there was another error.

If you run the setup line again and then the firmware update (with sudo at the beginning) then it should resolve all issues.

[2020-04-01 14:01] ifitikhar-iffy commented on #55
![IMG_1879](https://user-images.githubusercontent.com/12911446/78145753-b6b5ef80-744a-11ea-96c1-5a0427915203.jpg)
I tried it, I don't know whether I am doing it right or not. copy command replaced the exe file in update directory with enz

[2020-04-01 14:12] ChristopherRush commented on #55
Follow the instructions here - https://github.com/PiSupply/Flick/tree/master/firmware/update

[2020-04-01 14:13] ryanteck commented on #55
Hi,

The command run would be incorrect and it looks like by accident you may have deleted a file.

I would suggest the following.

Run command "cd". This should move you back to your "home" folder and just show the pi@raspberrypi line in the console.

Run ```sudo rm -rf Flick/``` this will remove all the flick files that may be badly downloaded.

Run the ```curl -sSL https://pisupp.ly/flickcode |

[2020-04-01 14:38] ifitikhar-iffy commented on #55
@ryanteck @ChristopherRush A big thanks :) this resolved the issue. fast and great response.

[2020-04-01 14:38] #55 closed

[2020-07-03 20:34] MXGray opened #56 "RPI_REVISION Method of GPIO Breaks flicklib.py When Using RPI Compute Module 3+"
It's detecting RPI CM3+ as '/dev/i2c-0'
...
Instead of '/dev/i2c-1'
...

[2020-07-03 21:18] ryanteck commented on #56
Hi @MXGray ,

I'll look into fixing this and should be easy to do. However at the same time this does vary based on what board you are using for the compute module? With the CMIO you'd be wiring the pins directly so could physically change them. But was wondering what host board you're using?

[2020-07-04 04:58] MXGray commented on #56
Hi @ryanteck ,

Host is <a href="https://www.raspberrypi.org/products/compute-module-3-plus/">Raspberry Pi Compute Module 3+</a>.
It's connected to a <a href="https://docs.luxonis.com/products/bw1097/">Luxonis DepthAI BW1097 board with 3 cameras</a>.
And here's a photo:

<a href="https://ibb.co/LntqV9F"><img src="https://i.ibb.co/kQ8rNq7/Custom-Designed-Electronics-Depth-AIBoard-Gesture-Control-Bo

[2020-07-04 09:40] ryanteck commented on #56
Just had a look on one of my compute modules and I guess the issue is that as the Compute Module doesn't have any fixed GPIO to PIN mapping.

However I suspect most compute modules use the Rev 2 or 3 pinouts so I've changed it to be unless it's a model 1 to try it out. If you try re-installing and report back to me if it's fixed it that'd be great.

[2020-07-04 11:10] tvoverbeek commented on #56
Looked at the RPi.GPIO source.

For Compute Module 1, 3 and 3+ GPIO.RPI_REVISION returns 0.
For more details use GPIO.RPI_INFO which returns a dictionary. On a Pi4 it returns
`{'P1_REVISION': 3, 'REVISION': 'b03111', 'TYPE': 'Pi 4 Model B', 'MANUFACTURER': 'Sony', 'PROCESSOR': 'BCM2711', 'RAM': '2G'}`
For a compute module 3+ the TYPE returned is "Compute Module 3+"

For flicklib the check GPIO.RPI

[2020-07-04 11:18] ryanteck commented on #56
I've done a commit earlier that does this @tvoverbeek , as the only model of Pi which uses i2c-0 on pins 2 & 3 is the Rev 1 B it made more sense to have it where unless it was that to say that the I2C is used is I2C1 unless it is a Rev 1.

For compute modules it reports 0, for Rev 1 B it reports 1, Rev 2 B it reports 2 and All 40 pins after have been the same so report 3 so it makes more sense to

[2020-07-04 11:22] tvoverbeek commented on #56
@ryanteck Agree completely with you.
My comment was meant to provide some background info and was written after I saw your commit.

[2020-07-08 08:03] pradeep4748 opened #57 "How-to Request: How to use(Connect) Flick Large with Windows PC"
Hi

Can anyone help on how to connect PiSupply FLick Large(for RPI) , work with Windows PC

[2020-07-08 11:09] tvoverbeek commented on #57
Flick needs I2C communication. You will need something like an USB to I2C converter with associated device driver.
THen you have to implement the low-level communication with the Flick.
All the details are in the datasheets:  https://github.com/PiSupply/Flick/tree/master/hardware/datasheets

You might have more luck using Windows10-IoT (but then you are back on Raspberry Pi)

[2020-07-08 11:12] ryanteck commented on #57
The easiest if you wish to use a desktop may be a USB to I2C converter plus then using a Linux distribution of some kind as the code itself would require very minor modifications. But with windows could require a significant amount of work.

[2020-08-13 11:52] ryanteck opened #58 "gpio mode 17 out; gpio write 17 0; gpio write 17 1; i2cdetect -y 1"
This will likely fail, it's not pin 17. Need to change.

[2020-08-13 12:06] tvoverbeek commented on #58
Where in the code is this????
BCM numbering GPIO 17 is pin 11 on the 40 pin connector (= Flick SW_RESET)

[2020-08-13 12:10] ryanteck commented on #58
We have it on the Readme.md to reset the pin when using Wiringpi, I just need to update the Readme but I'm not on my computer which has all my stuff setup on.

I'll just do it the other way.

[2020-08-13 12:12] ryanteck opened #59 "Is Python 2.7, need to upgrade to 3"
We need to upgrade this to Python 3 at one stage as Python 2.7 is EOL.

[2020-08-13 12:15] tvoverbeek commented on #58
OK. Saw you fixed it already.

[2020-08-13 12:15] #58 closed

[2020-08-13 12:15] tvoverbeek commented on #59
Yes, also the i2c code needs some refresh.

[2020-11-18 21:40] internet-conception commented on #52
hello,
Have you figured out what was your problem ? Because I'm at the exact same step 👍
Tks byebye

[2020-11-18 21:51] shawaj commented on #52
@raffaeler the firmware version of ours is v1.1 buy the "hillstar" firmware for the chip is v1.3. It is a different thing. Sorry for confusion.

@internet-conception are you getting any error message?

[2020-11-18 21:52] shawaj commented on #59
@ryanteck @tvoverbeek could this be the same thing causing #52 ?

[2020-11-18 21:58] internet-conception commented on #52
hi,
Yes the exact same error has @raffaeler and the same firmware too (hillstar).
How can I use my flick large device ? I should flash the firmware 1.1 from this repo ?
Tks for your help :o)

[2020-11-18 22:01] internet-conception commented on #52
oh not axactly the same (flicklib V0.0.3)

Traceback (most recent call last):
  File "/usr/local/bin/flick-demo", line 4, in <module>
    __import__('pkg_resources').run_script('flicklib==0.0.3', 'flick-demo')
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 666, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/usr/lib/python2.7/dist-package

[2020-11-18 22:29] raffaeler commented on #52
In my case I got a replacement board and it worked.

My guess is that it wasn't really faulty but the software coming with the board is not too basic and not able to clarify the problem, nor to reflash the firmware (that could probably fix the issue).

I still have the old board and it could be helpful to get a 'smarter' software, replace the firmware and see what happens.

FYI I also bought the c

[2020-11-18 22:42] internet-conception commented on #52
Tks @raffaeler
Have you changed the cable with the new one ? Because it really look like a faulty cable... some reboot the demo dont even start.
I know that I2C is very sensitive about cheap wire...

[2020-11-18 22:51] raffaeler commented on #52
Of course i did, I have plenty of good-quality dupont-cables and they didn't help at all.
FYI I use many other I2C peripherals and I am very used to them.

My guess is that reflashing the device could help, but I don't want to risk if I don't find a very well documented procedure.

[2020-11-19 12:05] ryanteck commented on #59
@shawaj The customer who first had an issue turned out a replacement board fixed it so it could be a hardware issue.

I don't actually see any Python 2 errors causing #52 as the error message is only given when quitting which doesn't make me think Python 2 is to blame.

Weather the I2C code is causing it I'm not sure, as back in july I did some tweaks to fix the most common error I believe.

I don

[2020-11-19 12:08] ryanteck commented on #52
It could be your board is faulty @internet-conception if @raffaeler had the same issue fixed by a replacement board despite it being unlikely could be the case (As if it was a code issue I think we'd have more than just you having the issue and a replacement board wouldn't fix it).

However to try and do a little diagnostics, What Model of Raspberry Pi and Operating system are you using @internet-

[2020-11-19 12:29] internet-conception commented on #52
@ryanteck hi I use a genuine pi3b+ with an up to date raspbian.
As I have "nothing to loose" I will try to flash the provided firmware (without compiling the flashing tool I'm not skilled enought for this).
I could not proceed a replacement anyway :p the purchase is far too old now
Tks for your help ! @raffaeler

[2020-11-19 21:14] internet-conception commented on #52
so cool :) just to let you know that my bord is working !!!
I just flashed the firmware following this instructions : https://github.com/PiSupply/Flick/tree/master/firmware/update
Thanks a lot to you all !

[2020-11-19 21:27] shawaj commented on #52
Thanks for letting us know. Will close this issue but let us know if we can help with anything else.

[2020-11-19 21:27] #52 closed

[2020-11-19 21:39] raffaeler commented on #52
Great to hear that!

[2021-01-10 12:16] wurls80 opened #60 "Can't get Flick Zero to work reliably"
I bought a Flick Zero to play with, with the thought of integrating into a magic mirror type project.
Have setup a raspberry pi 2B as a fresh install, fitted a Flick Zero and installed the code and demos.
i2cdetect always shows it is connected.
But the demo's wouldn't work.
After a few attempts at running it (using Geany not Thonny) the snail demo started to work. Then so did the others.
Installed

[2021-01-10 13:07] tvoverbeek commented on #60
The current kernel lowers the clock speed when the cpu load is low and increases it when the load increases.
The I2C clock varies with the cpu clock. It might be that te varying I2C clock speed causes your problems.
You could try the following:
In /boot/config.txt add the line `force_turbo=1`. This fixes the cpu clock speed and hence the i2C clock.
See if this helps..

[2021-01-10 15:31] wurls80 commented on #60
Hi thanks for the quick response.
I've changed config.txt as suggested and reboot but issue still remains - flick board is showing as connected, but the flick demos and flick_img.py aren't registering any gestures.

[2021-01-12 21:56] wurls80 commented on #60
Is there a fundamental reason why the flick zero won't work with pi 2B v1.1? I tried the board with a Zero W and it worked perfectly.
I've tried running the pi 2B with no usb Wi-Fi, keyboard or mouse plugged in and it makes no difference to the flick zero (I.e. no response to gestures seen by the pi). I haven't tried overclocking the pi 2B to 1GHz like the zero W to say if that makes a difference.

[2021-01-13 18:04] wurls80 commented on #60
To try and fault find further I came across the pigpio library and gpiotest script - I wanted to try and fault find the gpio.

I installed the pigpio library as described here: http://abyz.me.uk/rpi/pigpio/download.html

Under the "To Check the Library" section there are a number of commands that run a number of tests to check interfaces. I've run on the pi 2B and then repeated with the Zero W (sa

[2021-01-14 23:54] wurls80 commented on #60
So today's update. Keeping this up to date as It's a helpful way of collating my thoughts, flick supplier has the link and hopefully it will help others in the future. I've found various other posts with similar issues but no solution.
So back to today. With assistance from pigpio support have confirmed that my test results are weird, but don't identify a problem with i2c.
In parallel and knowing

[2021-01-15 09:05] wurls80 commented on #60
Having looked at the datasheet for the MG3130 chip https://www.microchip.com/wwwproducts/en/MGC3130#datasheet-toggle
Which is what the HAT uses I couldn't help but notice some similarities between my "it not working" i2c trace and their scan and looking for presence of a finger.
I've tried holding finger still over HAT for longer when the script starts up, flicking in and out slowly, but no luck.

[2021-01-18 17:51] wurls80 commented on #60
So. Bit more reading around and I've come across a number of other issues logged which appear to have the same outcome as what I'm seeing:
https://github.com/PiSupply/Flick/issues/14
https://github.com/PiSupply/Flick/issues/16
https://github.com/PiSupply/Flick/issues/31
https://github.com/PiSupply/Flick/issues/33
https://github.com/PiSupply/Flick/issues/39

Didn't think to look in the "Closed" iss

[2021-01-21 16:04] ga65w commented on #60
Taking up the invite to provide some input:
I purchased a Flick HAT last week. It is connected to a Pi3. Flick-demo works intermittently. I could not see any logic as to when it would work and when it wouldn't. All I do is run flick-demo. If it doesn't work I do a Control-C and then re-run. Randomly, it will work. Once it is working it continues to work until program exit. The Pi never has issues

[2021-01-21 18:02] wurls80 commented on #60
Thanks for the input though shame we're seeing what appear to be the same issue. Which also seems to have been seen by the other issues raised.
I feel your frustration!

[2021-01-24 22:44] wurls80 commented on #60
So reflashed the firmware. First attempt saw lots of read access errors - immediately did it again and it reflashed perfectly.
Started up the flick demos and they worked perfectly!
Flick-demo reports the same firmware version, so it is strange why it would now work. I still think the issue is some times the chip doesn't recognise approaches and doesn't come out of the approach scan, and you have t

[2021-01-29 09:50] ga65w commented on #60
Received replacement Flick HAT yesterday. Plugged it in but didn't fix it with standoffs. It worked first time and continued to work through a number of cycles of switching Pi off and then switching it back on again. Switched on Pi this morning and again Flick HAT worked straight away.

I am now assuming that all is well and will therefore fix HAT more securely with standoffs.

[2021-02-03 20:22] milajo2 opened #61 "changing pins on flick"
Hi,

I was wondering if I can re-assign the pin values to assign elsewhere on the raspberry pi if so what configuration document would I have to change?

[2021-02-04 05:18] shawaj commented on #61
@milajo2 which Flick board are you using?

[2021-02-04 06:26] milajo2 commented on #61
The flick large

[2021-02-04 09:58] milajo2 commented on #61
Also is their possibility of how could use the flick large on Arduino I have an arduino mega 2560

[2021-02-04 13:42] tvoverbeek commented on #61
Flick large needs I2C (SCL and SDA), 2 GPIOs for Transfer and Reset, VCC, Ground and optionally 2 GPIOs for the Red/Green LED.
You can reassign pins to other GPIOs and I2C (e.g. Pi4 has several I2C possibilities).
Of course you need to modify the flicklib code if you change the I2C bus and any of the other GPIOs.

The Flick uses the same chip as the Pimoroni Skywriter. In their github you will fin

[2021-02-04 16:21] milajo2 commented on #51
Hi,

I am also using this flick large but with the arduino mega 2560, I just need the sensor working for the initial stages of my project. However, when I implemented your code using the skywriter library I don't get any output in the serial monitor do I just need to put a 4.7Kohm resistor at the 3.3v? Is it possible you could update me on whether you got the flick working or not?

[2021-02-04 16:47] milajo2 commented on #61
Hi,
I've tried the wire library and it works fine, however now I'm trying to get the serial monitor to output words to indicate gesture and touch. I am using this code, however, nothing is outputting on my serial monitor to indicate that it has found a gesture or touch.
![PXL_20210204_163600702](https://user-images.githubusercontent.com/78371893/106926051-97da5680-6708-11eb-8e61-52f273e0f1db.jpg)

[2021-02-04 16:51] milajo2 commented on #61
I have to design a project using an rgb LED matrix and this flick board, is there a possibility that I could get this working with the RPI and get my rgb LED matrix working with arduino and combine the two together to get them operating together? As at the moment my LED's aren't working with my RPI and I fully haven't figured out how to get the flick working with the arduino.

[2021-02-04 17:16] tvoverbeek commented on #51
I2C bus needs pull-up resistors on the SDA and SCL lines. The RPi has built-in pull-up resistors for I2C bus 1.
It seems the Mega2560 also has built-in pull-up resistors for I2C on pins 20 (SDA) and 21 (SCL). See the Wire lib docs: https://www.arduino.cc/en/reference/wire

[2021-02-04 17:58] milajo2 commented on #61
I've used your advice I'm now getting this message
<img width="611" alt="test1" src="https://user-images.githubusercontent.com/78371893/106934902-a168bc00-6712-11eb-90ec-4f31a10e4582.PNG">

[2021-02-04 18:01] tvoverbeek commented on #61
On your screenshot the serial monitor is on 9600 baud. In your code above you initialise it to 115200 baud.
Try changing the serial monitor baud setting to 115200.

[2021-02-04 18:10] milajo2 commented on #51
Hi,
I've adjusted my wiring using the SkywriterInterrupt code, whenever I touch the board it doesn't state "Got touch" it just continues on in the serial monitor.

[2021-02-04 18:33] milajo2 commented on #61
I apologise I now get this.

<img width="619" alt="1" src="https://user-images.githubusercontent.com/78371893/106938882-716fe780-6717-11eb-8aa2-c7f17effbca3.PNG">

[2021-02-04 19:06] milajo2 commented on #61
Also my LED no longer works 😭

[2021-02-04 19:59] milajo2 commented on #61
My flick no longer works with my raspberry pi
![Uploading PXL_20210204_195838355.jpg…]()

[2021-02-04 20:00] milajo2 commented on #61
![Uploading PXL_20210204_195838355.jpg…]()

[2021-02-04 20:07] milajo2 commented on #61
![Uploading PXL_20210204_200208470.jpg…]()

[2021-02-04 20:08] milajo2 commented on #61
my flick no longer works with my raspberry pi
![PXL_20210204_200208470](https://user-images.githubusercontent.com/78371893/106949377-c2d2a380-6724-11eb-9835-19a0c1a8e627.jpg)
![PXL_20210204_200154001](https://user-images.githubusercontent.com/78371893/106949383-c49c6700-6724-11eb-9943-f1b09fc9c378.jpg)

[2021-02-05 00:36] shawaj commented on #61
@milajo2 are you sure it was connected to correctly?

It could also be an issue with the firmware

[2021-03-30 19:24] RobertKrens opened #62 "Flick Demo worked once. After reboot it stopped working"
Good afternoon.

Using a RPI4 8GB and a Flick Large.

The "pip install flicklib" gives the following data:
[code]
So It seems the Flick Libary is up to date.

Running "i2cdetect -y -q 1" Shows:
[code]
Now I have a PIR sensor connected at GPIO21 (which works)
Also I've enabled I2C in the Raspi-Config

The Flick board powers up, but running the "pi@MagicMirror:~ $ ./flick-demo" command shows:

[code

[2021-04-07 18:43] RobertKrens commented on #62
Support call can be closed. Bought a new flick board, works perfect.

[2021-05-31 17:53] Olifiers opened #63 "Flick Zero demo doesn't run"
Hi folks! I'm having trouble getting my Flick Zero to run, wonder if anyone can help?

I'm trying to run the Flick Zero attached to a Raspberry Pi 4, directly, no cables.  Updated firmware to 1.1. i2cdetect finds it fine (42), but I can't run flick-demo, as I get the error below:

[code]

Any ideas where should I start?

[2021-05-31 18:03] tvoverbeek commented on #63
It is a curses error.
Are you by any chance running the demo in a terminal window which is smaller than the standard 80x24?

[2021-05-31 18:30] Olifiers commented on #63
I am indeed, it's a small display. Zooming out on the terminal sorted the issue, super thanks for the quick solution, sir! ;)

[2021-05-31 18:57] #63 closed

[2021-09-13 12:58] vijayrraut commented on #47
Thanks @ryanteck, connecting 3V3 on pin 17 started working.
I am using flick-zero with RPi-zero and connected headers only for the required pins, and not all the 40 pins.

[2021-11-27 18:12] danny7894 commented on #62
How do you do a flickboard firmware update??

[2021-12-29 20:56] sylwiamaj opened #64 "pkg_resources.DistributionNotFound"
I'm trying to run the Flick Zero attached to a Raspberry Pi 4B. I can't run flick-demo, as I get the error below:
`Traceback (most recent call last):
  File "/usr/local/bin/flick-demo", line 4, in <module>
    __import__('pkg_resources').run_script('flicklib==0.0.3', 'flick-demo')
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 3251, in <module>
    @_call_aside
  File "/

[2022-02-06 21:30] Luciano2018 opened #65 "Fix for Bullseye 32bit(Solution)"
This is a solution to those have errors in Raspberry Pi OS Bullseye 32 bit, i dont know how to commit this fixxes, so i let here for those  who want fix by yourself.
After the install from curl and the reboot. Delete the scripts installed on `/usr/local/bin `referred to flick. Then copy the ones that are in
`/home/pi/Flick/flick/build/scripts-3.9/` and fix this 3:

- **flick-2048**(Syntax error):

[2022-02-06 21:31] Luciano2018 commented on #65
And close i, because is only a help for those who are usng this in 2022

[2022-02-06 21:31] #65 closed

[2022-02-07 13:27] tvoverbeek commented on #65
@Luciano2018 Thanks. Your changes are in github now.

[2022-02-10 03:00] danny-atten opened #66 "AttributeError: 'AsyncWorker' object has no attribute 'isAlive' in flicklib.py"
Hi,

I'm installing the Flick code on a new build of Raspbian with Python 3.9.2. When trying to run "flick-demo", I'm getting an error saying that AttributeError: 'AsyncWorker' object has no attribute 'isAlive'.

I searched around and found another Github issue from Jan. 1, 2021 with a similar issue. See the link [here](https://github.com/jupyter-vim/jupyter-vim/issues/51). It looks like the metho

[2022-02-10 07:01] tvoverbeek commented on #66
Done.
Thanks for catching this.

[2022-02-10 07:01] #66 closed

[2022-02-15 16:52] icaruszhu opened #67 "flick-demo error: "TypeError: integer argument expected, got float""
I have recently acquired a flick large. I have installed relevant code on my Pi 400.

However, when I tried to run ```flick-demo```, it gives the following error message.

I would be very grateful to know what went wrong here. (I have been a bit frustrated in order to get the flick large work).  I am not sure there is a hardware problem, but this seems to be a problem related to software. Any advi

[2022-02-15 19:25] tvoverbeek commented on #67
Fixed on github.
In Python 3 you have to use '//' for integer division.
Change '/' to '//' on lines 78 and 79 of flick-demo (or reinstall)

[2022-02-15 20:20] icaruszhu commented on #67
Very many thanks for such a swift and neat solution! Problem solved--work like a charm now with ```flick-demo```.

It seems that ```flick-snail``` has a similar problem. Would you look into that?

Many thanks again-- I am so happy with flick :-)

[2022-02-15 21:18] tvoverbeek commented on #67
Thanks for flagging the other occurrence in flick-snail..
Checked the other programs in the bin directory and fixed `flick-armcontrol`, `flick-snail` and `flick-volctrl`

[2022-02-15 21:52] icaruszhu commented on #67
Thank you again! :+1:

[2022-02-15 21:52] #67 closed

[2022-06-30 12:51] BarteKornafel commented on #46
Has anyone solved this problem?